on: push
jobs: 
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo Hello, world!
      - run: node --version
      - run: npm --version
      - run: go version